#carroGordo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2vh;
}

#carroGordo .productoCarro img{
    height: 40vh;
}

#carroGordo .productoCarro div{
    font-size: 1.25em;
    text-align: center;
}

#carroGordo .productoCarro div h4{
    justify-content: center;
}

#carroGordo .productoCarro div h4 a{
    margin-left: 1vw;
}

@media (max-device-width: 650px){
    #carroGordo .productoCarro img{
        height: 40vw;
    }
}