#carroGordo{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 2vh;
}

#carroGordo .productoCarro img{
    width: 40%;
    max-height: 60%;
}

#carroGordo .productoCarro div{
    font-size: 1.8vh;
    text-align: center;
}

#carroGordo .productoCarro div h4{
    justify-content: center;
}

#carroGordo .productoCarro div h4 a{
    margin-left: 1vw;
}
